name: dispatch
on:
  workflow_dispatch:
    inputs:
      logLevel:
        required: true
        type: choice
        options:
          - info
          - warning
          - debug
        default: warning
      job_matrix:
        type: string
        default: |
          {
            "version": [10,12,14],
            "os": [
              "ubuntu-latest",
              "windows-latest"
            ]
          }
      environment:
        type: environment

jobs:      
  log-the-inputs:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 2
      matrix: ${{ fromJSON(inputs.job_matrix) }}
    steps:
    - run: |
        echo "Log level: $LEVEL"
        echo "Tags: $TAGS"
        echo "Environment: $ENVIRONMENT"
      env:
        LEVEL: ${{ inputs.logLevel }}
        TAGS: ${{ inputs.tags }}
        ENVIRONMENT: ${{ inputs.environment }}
